{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive - About</title>
{% endblock head %} {% block body %}

<section class="center p-3">
    <h4>
    I created this website to archive all torrent i create or download from now on /23.12.2021/..
    <br>
    I love downloading random torrents. why because they are 
    <span class='text-danger'>

        fast and efficient.
    </span>
    Website created by <a href="https://github.com/Famewix" target="_blank">This user</a>
    </h4>
</section>

{% endblock body %}
