{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive - Browse Torrent</title>
{% endblock head %} {% block body %}

<section class="center p-3">
  <h2 class="pb-3">Browse Torrent</h2>
  {% for post in posts.items%}
  <div class="card py-2 mb-5" style="width: 50vw">
    <div class="card-body">
      <div class="d-felx">
        <div class="author d-flex align-items-center pb-2">
          <!-- <img class="author-img" src="https://source.boringavatars.com/pixel/60" /> -->
          <img
            class="author-img"
            src="{{ url_for('static', filename='author.svg') }}"
          />
          <h4 class="ps-2"><strong>Author</strong></h4>
        </div>
        <h4 class="my-2">{{ post.title }}</h4>
        <p>Category: {{ post.category }}</p>
        <p class="text-muted">
          Posted: {{ post.date_posted.strftime("%d %B, %Y") }}
        </p>
        <div class="card">
          <div class="card-body">
            Magnet: {{ post.magnet_url }}
            <button
              class="btn-sm btn-outline-danger"
              onclick="copyToClipboard('{{ post.magnet_url }}')"
            >
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
  
</section>
<div class="container" align="center">
    
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-secondary mb-4" href="{{ url_for('views.browse', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('views.browse', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
    {% endfor %}
</div>

{% endblock body %}
