{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive - Browse Torrent</title>
{% endblock head %} {% block body %}

<section class="center p-3">
  <h2 class="pb-3">Browse Torrent</h2>
  {% for post in posts.items%}
  {% include 'post_template.html' %}
  {% endfor %} 
  
</section>
<div class="container" align="center">
    
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-secondary mb-4" href="{{ url_for('views.browse', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('views.browse', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
    {% endfor %}
</div>

{% endblock body %}
