{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive</title>

{% endblock head %} {% block body %}

<main class="center">
  <h2>Recent</h2>
  <hr>
  {% for post in posts%}
  <div class="card py-2 mb-5" style="width: 50vw">
    <div class="card-body">
      <div class="d-felx">
        <div class="author d-flex align-items-center pb-2">
          <!-- <img class="author-img" src="https://source.boringavatars.com/pixel/60" /> -->
          <img
            class="author-img"
            src="{{ url_for('static', filename='author.svg') }}"
          />
          <h4 class="ps-2"><strong>Author</strong></h4>
        </div>
        <h4 class="my-2">{{ post.title }}</h4>
        <p>Category: {{ post.category }}</p>
        <p class="text-muted">Posted: {{ post.posted }}</p>
        <div class="card">
          <div class="card-body">
            Magnet: {{ post.magnet }}
            <button
              class="btn-sm btn-outline-danger"
              onclick="copyToClipboard('{{ post.magnet }}')"
            >
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</main>

<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text);
    alert("Copied the text: " + text);
  }
</script>

{% endblock body %}
