{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive - post</title>
{% endblock head %} {% block body %}

<section class="center p-3">
  <h2 class="pb-3">POST</h2>
  <div class="card py-2 mb-5" style="width: 50vw">
    <div class="card-body">
      <form action="" method="post">
        {{form.hidden_tag()}}
        <div id="post-form">
          {{form.title(class="mb-3 p-2 text-input", placeholder="Title")}}
          {{form.category(class="mb-3 p-2 text-input")}}
          {{form.magnet(class="mb-3 p-2 text-input", placeholder="Magnet URL")}}
        </div>
        {{form.submit(class="btn btn-info")}}
      </form>
    </div>
  </div>
</section>

<script></script>

{% endblock body %}
