{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive - Search Torrent</title>
{% endblock head %} {% block body %}

<section class="center p-3">
    <form method="GET" id="search-bar" class="mb-4">
        <input 
        class="form-control mr-sm-2" 
        type="search" 
        placeholder="Search Torrent" 
        aria-label="Search"
		name="q">
    </form>
  {% for post in posts%}
  <div class="card py-2 mb-5" style="width: 50vw">
    <div class="card-body">
      <div class="d-felx">
        <div class="author d-flex align-items-center pb-2">
          <!-- <img class="author-img" src="https://source.boringavatars.com/pixel/60" /> -->
          <img
            class="author-img"
            src="{{ url_for('static', filename='author.svg') }}"
          />
          <h4 class="ps-2"><strong>{{post.author.username}}</strong></h4>
        </div>
        <h4 class="my-2">{{ post.title }}</h4>
        <p>Category: {{ post.category }}</p>
        <p class="text-muted">
          Posted: {{ post.date_posted.strftime("%d %B, %Y") }}
        </p>
        <div class="card">
          <div class="card-body">
            Magnet: {{ post.magnet_url }}
            <button
              class="btn-sm btn-outline-danger"
              onclick="copyToClipboard('{{ post.magnet_url }}')"
            >
              Copy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
  
</section>

{% endblock body %}
