{% extends "base.html" %} {% block head %}

<title>Personal Torrent Archive - Search Torrent</title>
{% endblock head %} {% block body %}

<section class="center p-3">
    <form method="GET" id="search-bar" class="mb-4">
        <input 
        class="form-control mr-sm-2" 
        type="search" 
        placeholder="Search Torrent" 
        aria-label="Search"
		name="q">
    </form>
  {% for post in posts%}
  {% include 'post_template.html' %}
  {% endfor %} 
  
</section>

{% endblock body %}
